This is the text body for my attempts at Coursework 2. This is starting in Python, I will probably import it into R at a later date.

In [2]:
print("hello")

hello

In [2]:
cd "./pdbfasta"

/media/dylan/2tb/Personal Media/University/Birkbeck/Stats and Data Science/tests/coursework_2/stats-datascience-Coursework-2/pdbfasta

The following code is taken from the rcsbiapi

In [4]:
#import requests
#print(requests.get("https://www.rcsb.org/fasta/entry/1CRN").text)

In [36]:

filename = "rcsb_pdb_1.fasta"
from Bio import SeqIO
import pandas as pd

df = pd.DataFrame(
    [(rec.id, str(rec.seq)) for rec in SeqIO.parse(filename, "fasta")],
    columns=["id", "sequence"]
)

In [37]:
def head(filename, x):
    with open(filename) as f:
        for i, line in enumerate(f):
            if i >= x:
                break
            print(line, end="")
head(filename, 10)

>2BB7_1|Chain A|Methionine aminopeptidase|Escherichia coli (562)
MAISIKTPEDIEKMRVAGRLAAEVLEMIEPYVKPGVSTGELDRICNDYIVNEQHAVSACLGYHGYPKSVCISINEVVCHGIPDDAKLLKDGDIVNIDVTVIKDGFHGDTSKMFIVGKPTIMGERLCRITQESLYLALRMVKPGINLREIGAAIQKFVEAEGFSVVREYCGHGIGRGFHEEPQVLHYDSRETNVVLKPGMTFTIEPMVNAGKKEIRTMKDGWTVKTKDRSLSAQYEHTIVVTDNGCEILTLRKDDTIPAIISHDE
>4ZU6_2|Chain B|C-terminal peptide from Serine acetyltransferase|Salmonella typhimurium LT2 (99287)
HHTFEYGDGI
>4ZU6_1|Chain A[auth X]|Cysteine synthase|Haemophilus influenzae KW20 (71421)
HHHHHHSSGLVPRGSHMAIYADNSYSIGNTPLVRLKHFGHNGNVVVKIEGRNPSYSVKCRIGANMVWQAEKDGTLTKGKEIVDATSGNTGIALAYVAAARGYKITLTMPETMSLERKRLLCGLGVNLVLTEGAKGMKGAIAKAEEIVASDPSRYVMLKQFENPANPQIHRETTGPEIWKDTDGKVDVVVAGVGTGGSITGISRAIKLDFGKQITSVAVEPVESPVISQTLAGEEVKPGPHKIQGIGAGFIPKNLDLSIIDRVETVDSDTALATARRLMAEEGILAGISSGAAVAAADRLAKLPEFADKLIVVILPSASERYLSTALFEGIEG
>2WVN_1|Chain A|SMALL S PROTEIN|PODOSPORA ANSERINA (2587412)
GSMSEPFGIVAGALNVAGLFNNCVDCFEYVQLGRPFGRDYERCQLRLDIAKARLSRWGEAVKINDDPRFHSDAPTDKSVQLAKSIVEEILLLFESAQKTSKRYELVADQQDLVVFEDKDMKPIGRALHRRLNDLVSRRQKQTSLAKKTAWALYDGKSLEKIVDQVARFVDELEKAFPIEAVCHKLAEIEIEEVEDEASLTILKDAAGGIDAAMSDAAAQKIDAIVGRNS
>6Y04_1|Chains A, B|Carbonic anhydrase|Trichomonas vaginalis (5722)
MSQLELITSANQAFLEANPELTKLNKAPQRHIAIVTCMDTRLVNFAEDAIGVKRGEATVIKAAGNGIWTTGLSDIVVSLLVSIYELGVQEIFIMGHECCGMTHASTDSLGAQMLKSGIKPEDIEKFKSDLSKWVDDFKDPIDNIKNSVRCVRENPLIPKNIPIHGLLIHPDTGKVTTIINGY

In [ ]:
from Bio.SeqIO.FastaIO import SimpleFastaParser

In [ ]:
help(SimpleFastaParser)

Help on function SimpleFastaParser in module Bio.SeqIO.FastaIO:

SimpleFastaParser(handle)
    Iterate over Fasta records as string tuples.

    Arguments:
     - handle - input stream opened in text mode

    For each record a tuple of two strings is returned, the FASTA title
    line (without the leading '>' character), and the sequence (with any
    whitespace removed). The title line is not divided up into an
    identifier (the first word) and comment or description.

    >>> with open("Fasta/dups.fasta") as handle:
    ...     for values in SimpleFastaParser(handle):
    ...         print(values)
    ...
    ('alpha', 'ACGTA')
    ('beta', 'CGTC')
    ('gamma', 'CCGCC')
    ('alpha (again - this is a duplicate entry to test the indexing code)', 'ACGTA')
    ('delta', 'CGCGC')

In [39]:
from Bio import SeqIO
import pandas as pd

rows = []


for rec in SeqIO.parse(filename, "fasta"):
    parts = rec.description.split("|")

    # Extract PDB id (drop _1, lowercase)
    idcode = parts[0].split("_")[0].lower()

    # Extract chain letter from "Chain A"
    chain = parts[1].replace("Chain", "").strip()

    sequence = str(rec.seq)

    rows.append({
        "idcode": idcode,
        "chain": chain,
        "sequence": sequence
    })

df_fasta = pd.DataFrame(rows)

In [45]:
df_fasta[10:20]

   idcode      chain                                           sequence
10   6hp1          A  GSNQTNRTRRETSMRSAHPEFENKAVEIYTYSANSSEAEFSEDYLT...
11   6yzx          A  MSHHWGYGKHNGPEHWHKDFPIAKGERQSPVDIDTHTAKYDPSLKP...
12   2ftp          A  GHMNLPKKVRLVEVGPRDGLQNEKQPIEVADKIRLVDDLSAAGLDY...
13   6gdu  s A, B, C  MGSSHHHHHHSSGLVPRGSHMTDLSSLIETADLRLLLTTVSTEVEA...
14   4j9j          A  LADKVIINTAAVENPSLITQIAQTFGSQAVVVAIDAKRVDGEFMAF...
15   5z1q  s A, B, C  MIKKPEFGLMQPPKKRVRQELSEEQKQEIKEAFDLFDTNKTGSIDY...
16   4axf          A  GEFELMEMILEEKDASDWIYRGEGGANLVLAYAGSSPLFVGKVIRI...
17   5jba  B[auth S]  IVGGEDAKPGQFPWQVVLNGKVDAFCGGSIVNEKWIVTAAHCVETG...
18   5jba  A[auth E]  CNIKNGRCEQFCKNSADNKVVCSCTEGYRLAENQKSCEPAVPFPCG...
19   6bmq          A  VKNPSLICAPVMADSIDKMVIETSKAHELGADLVEIRLDWLKDFNP...

In [46]:
import pandas as pd
import re

rows = []

for _, row in df_fasta.iterrows():
    # extract chain letters (single capital letters)
    chains = re.findall(r'\b[A-Z]\b', row["chain"])

    for ch in chains:
        rows.append({
            "idcode": row["idcode"],
            "chain": ch,
            "sequence": row["sequence"]
        })

df_clean = pd.DataFrame(rows)

df_clean[10:20]

   idcode chain                                           sequence
10   1xca     A  PNFSGNWKIIRSENFEELLKVLGVNVMLRKIAVAAASKPAVEIKQE...
11   1xca     B  PNFSGNWKIIRSENFEELLKVLGVNVMLRKIAVAAASKPAVEIKQE...
12   4u0p     A  MALSRPLPSWLRKPLGKASEISTVQRLVRQYGIHTICEEGRCPNRG...
13   4u0p     B  MALSRPLPSWLRKPLGKASEISTVQRLVRQYGIHTICEEGRCPNRG...
14   5ku1     A  EEKEMKPACIKALTRIFKISDQDNDGTLNDAELNFFQRICFNTPLA...
15   6hp1     A  GSNQTNRTRRETSMRSAHPEFENKAVEIYTYSANSSEAEFSEDYLT...
16   6yzx     A  MSHHWGYGKHNGPEHWHKDFPIAKGERQSPVDIDTHTAKYDPSLKP...
17   2ftp     A  GHMNLPKKVRLVEVGPRDGLQNEKQPIEVADKIRLVDDLSAAGLDY...
18   6gdu     A  MGSSHHHHHHSSGLVPRGSHMTDLSSLIETADLRLLLTTVSTEVEA...
19   6gdu     B  MGSSHHHHHHSSGLVPRGSHMTDLSSLIETADLRLLLTTVSTEVEA...

In [58]:
import pandas as pd
filename2 = "pkas.csv"
df_original = pd.read_csv(filename2, sep=";")

In [59]:
df_original.head()

  idcode chain residue_name  residue_number       pk
0   2bb7     A          CTR             262  2.49605
1   4zu6     X          GLU              33 -3.00962
2   4zu6     X          ASP             252  3.39041
3   2wvn     A          GLU             194  4.56396
4   6y04     A          GLU              56  3.20583

In [60]:
print(df_original.columns)
print(df_clean.columns)

Index(['idcode', 'chain', 'residue_name', 'residue_number', 'pk'], dtype='object')
Index(['idcode', 'chain', 'sequence'], dtype='object')

In [61]:
merged = df_original.merge(
    df_clean,
    on=["idcode", "chain"],
    how="left"
)

In [62]:
print(merged.head())

  idcode chain residue_name  residue_number       pk  \
0   2bb7     A          CTR             262  2.49605
1   4zu6     X          GLU              33 -3.00962
2   4zu6     X          ASP             252  3.39041
3   2wvn     A          GLU             194  4.56396
4   6y04     A          GLU              56  3.20583

                                            sequence
0  MAISIKTPEDIEKMRVAGRLAAEVLEMIEPYVKPGVSTGELDRICN...
1  HHHHHHSSGLVPRGSHMAIYADNSYSIGNTPLVRLKHFGHNGNVVV...
2  HHHHHHSSGLVPRGSHMAIYADNSYSIGNTPLVRLKHFGHNGNVVV...
3  GSMSEPFGIVAGALNVAGLFNNCVDCFEYVQLGRPFGRDYERCQLR...
4  MSQLELITSANQAFLEANPELTKLNKAPQRHIAIVTCMDTRLVNFA...

In [63]:
merged.to_csv("merged.csv", index=False)

In [66]:
print(merged.keys())

Index(['idcode', 'chain', 'residue_name', 'residue_number', 'pk', 'sequence'], dtype='object')